div p{
    /* Vilka rader påverkas av dessa css selektorer? Skriv som en CSS kommentar */
    
}

div, p{
     

}

div>p{
   
}

div~p{
    
}

div+p{

}

div.exempel1{
      
}

.exempel1{
   
}

.exempel2{
    
}

.exempel1 .exempel2{
      
}
     
.exempel1.exempel2{

}
    
p:nth-child(2n){
      
}

p:nth-child(odd){
    
}


p:nth-child(2n){
    
}

p:nth-child(3n+1){

}
p:nth-child(4n-1)